:root {
    --primary-color: #FFFFFF;
}

html {
    margin: 0;
    padding: 0 auto;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: linear-gradient(#EECFBA, #C5DDE8);
    background-repeat: no-repeat;
    color: var(--primary-color);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    list-style: none;
    padding-right: 20px;
}
.nav-item:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
} 